<loading></loading>

<div class="ng-hide" ng-hide="loading">
	<div class="col-lg-3 col-xs-6">
  		<div class="small-box">
    		<div class="inner">
	      		<h3>3,5397</h3>
		      	<p>D&oacute;lar</p>
	    	</div>
	    	<div class="icon"><i class="glyphicon glyphicon-usd"></i></div>
    		<a href="#fx" class="small-box-footer">Mais Informa&ccedil;&otilde;es <i class="glyphicon glyphicon-hand-right"></i></a>
  		</div>
	</div>
	 
 	<div class="col-lg-3 col-xs-6">
  		<div class="small-box">
    		<div class="inner">
	     		<h3>25</h3>
		      	<p>Usu&aacute;rios</p>
		   	</div>
	    	<div class="icon"><i class="glyphicon glyphicon-user"></i></div>
    		<a href="#usuario" class="small-box-footer">Mais Informa&ccedil;&otilde;es <i class="glyphicon glyphicon-hand-right"></i></a>
  		</div>
	</div>  
	
 	<div class="col-lg-3 col-xs-6">
  		<div class="small-box">
    		<div class="inner">
	      		<h3>6</h3>
		      	<p>Negocia&ccedil;&otilde;es pendentes</p>
	    	</div>
    		<div class="icon"><i class="glyphicon glyphicon-transfer"></i></div>
    		<a href="#" class="small-box-footer">Mais Informa&ccedil;&otilde;es <i class="glyphicon glyphicon-hand-right"></i></a>
  		</div>
	</div> 
	 
 	<div class="col-lg-3 col-xs-6">
  		<div class="small-box">
    		<div class="inner">
	      		<h3>0</h3>
		      	<p>Contratos</p>
	    	</div>
	    	<div class="icon"><i class="glyphicon glyphicon-check"></i></div>
    		<a href="#" class="small-box-footer">Mais Informa&ccedil;&otilde;es <i class="glyphicon glyphicon-hand-right"></i></a>
  		</div>
	</div>  
	
	<div class="col-xs-12 cartao">
		<div class="jumbotron">
			<h1 class="text-center">P&aacute;gina Inicial</h1>
			<br><br><br>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
			Aliquam urna sem, imperdiet non egestas non, tincidunt eu est.
			 Nulla et molestie velit. Vestibulum consectetur nibh rhoncus porta laoreet. 
			 Donec in efficitur metus, molestie laoreet odio. 
			 Fusce arcu ante, iaculis placerat tempus nec, maximus rhoncus ex. 
			 Maecenas feugiat quam in ligula imperdiet, mattis egestas enim pulvinar. 
			 Vestibulum viverra augue non metus porta, et vehicula dolor bibendum. Integer ultricies dapibus lectus sed mollis. 
			 Proin erat mi, egestas id est eget, suscipit tincidunt nunc. 
			Cras sapien dolor, vestibulum id sem ac, euismod fringilla massa. Praesent nec neque libero. .</p>
		</div>
	</div>
</div>
